<main id="plants">

  <app-cards [plants]="this.plants" [page]="this.page"></app-cards>

  <!-------- PAGE NAVIGATION -------->
  <div id="navbarPage" class="container d-flex justify-content-evenly align-items-center py-2 px-2 px-sm-5">
    <!-- pagina precedente -->
    <button class="btn ps-md-5 ms-lg-5"><a [ngClass]="{'invisible': this.page == 1}"
        routerLink="/plants/page/{{this.page - 1}}" fragment="header" class="p-0" (click)="pageLess()"><i
          class="fa-solid fa-chevron-left fs-3"></i></a></button>

    <!-- prima pagina -->
    <a [ngClass]="{'invisible': this.page < 3}" routerLink="/plants/page/1" fragment="header" class="btn p-0"
      (click)="pageChoice(1)">1</a>

    <!-- ritornare a metà delle pagine visitate -->
    <a [ngClass]="{'invisible': this.page == 1}" routerLink="/plants/page/{{this.halfPage}}" fragment="header"
      class="btn p-0" (click)="pageChoice(this.halfPage)">{{this.halfPage}}</a>

    <!-- PAGINA ATTUALE -->
    <b class="m-0 fs-3 text-decoration-underline">{{this.page}}</b>

    <!-- vai 5 pagine avanti -->
    <a [ngClass]="{'d-none': this.page > 11}" routerLink="/plants/page/{{this.page - 5}}" fragment="header"
      class="btn p-0" (click)="pageChoice(this.page + 5)">{{this.page + 5}}</a>

    <!-- ultima pagina -->
    <a [ngClass]="{'invisible': this.page == 17}" routerLink="/plants/page/48" fragment="header" class="btn p-0"
      (click)="pageChoice(17)">17</a>

    <!-- spazio -->
    <a [ngClass]="{'d-none': this.page <= 11}">&nbsp;</a>

    <!-- pagina successiva -->
    <button class="btn pe-md-5 me-lg-5"><a [ngClass]="{'invisible': this.page == 17}"
        routerLink="/plants/page/{{this.page + 1}}" fragment="header" class="p-0" (click)="pagePlus()"><i
          class="fa-solid fa-chevron-right fs-3"></i></a></button>
  </div>
</main>
