<main id="plants">

  <section class="container-fluid d-flex flex-row flex-wrap py-2 px-0 px-sm-4">

    <!------- CARD TEMPLATE ------->
    <!-- ngClass serve per visualizzare le card extra solo su dimensioni xxl -->
    <div class="col-6 col-lg-4 col-xxl-3 p-2 p-sm-4" *ngFor="let plant of plants; index as i" [ngClass]="{'d-none d-xxl-block': i >= plants.length - 2}">
      <article class="card border-0 bg-day rounded-top-4 rounded-bottom-5 rounded-bl-0 shadow">
        <!-- inserisco l'immagine e gestisco anche l'errore nel caso non ci fosse -->
        <img
          src="{{(plant.default_image) ? plant.default_image.small_url || plant.default_image.original_url  : '/assets/img/img_placeholder.svg'}}"
          class="rounded-top-4 fit-square" alt="{{plant.common_name}} image">

        <div class="card-body">
          <h5 class="card-title truncate-one">{{plant.scientific_name}}</h5>
          <small class="card-text truncate-one">{{plant.common_name}}</small>
        </div>
        <figure class="d-flex justify-content-between bg-200 m-3 p-3 rounded-pill shadow">
          <i class="fa-solid fa-sun text-day"></i>
          <i class="fa-solid fa-cloud-sun text-day d-none d-sm-inline"></i>
          <i class="fa-solid fa-droplet-slash text-day"></i>
          <i class="fa-solid fa-hand-holding-droplet text-day"></i>
        </figure>
      </article>
      <!-- button product details -->
      <a href="#" class="btn bg-300 rounded-3 rounded-top-0 px-3 py-2 shadow">
        <span class="d-none d-sm-inline text-day">more info </span><i
          class="fa-solid fa-arrow-up-right-from-square text-day"></i>
      </a>
    </div>
  </section>

  <!-------- PAGE NAVIGATION -------->
  <div id="navbarPage"
    class="container-fluid bg-day d-flex justify-content-evenly align-items-center py-2 px-2 px-sm-5">
    <!-- pagina precedente -->
    <button class="btn"><a [ngClass]="{'invisible': this.page == 1}" routerLink="/plants/page/{{this.page - 1}}"
        fragment="header" class="p-0" (click)="pageLess()"><i class="fa-solid fa-chevron-left fs-3"></i></a></button>

    <!-- prima pagina -->
    <a [ngClass]="{'invisible': this.page < 3}" routerLink="/plants/page/1" fragment="header" class="btn p-0"
      (click)="pageChoice(1)">1</a>

    <!-- ritornare a metà delle pagine visitate -->
    <a [ngClass]="{'invisible': this.page == 1}" routerLink="/plants/page/{{this.halfPage}}" fragment="header"
      class="btn p-0" (click)="pageChoice(this.halfPage)">{{this.halfPage}}</a>

    <!-- PAGINA ATTUALE -->
    <b class="m-0 fs-3 text-100">{{this.page}}</b>

    <!-- vai 5 pagine avanti -->
    <a [ngClass]="{'d-none': this.page > 11}" routerLink="/plants/page/{{this.page - 5}}" fragment="header"
      class="btn p-0" (click)="pageChoice(this.page + 5)">{{this.page + 5}}</a>

    <!-- ultima pagina -->
    <a [ngClass]="{'invisible': this.page == 17}" routerLink="/plants/page/48" fragment="header" class="btn p-0"
      (click)="pageChoice(17)">17</a>

    <!-- spazio -->
    <a [ngClass]="{'d-none': this.page <= 11}">&nbsp;</a>

    <!-- pagina successiva -->
    <button class="btn"><a [ngClass]="{'invisible': this.page == 17}" routerLink="/plants/page/{{this.page + 1}}"
        fragment="header" class="p-0" (click)="pagePlus()"><i class="fa-solid fa-chevron-right fs-3"></i></a></button>
  </div>
</main>
