<footer class="bg-300 d-flex flex-row justify-content-evenly py-4 px-2">
  <a href="https://www.linkedin.com/in/az91" target="_blank" class="text-decoration-none d-flex align-items-center"><i class="fa-brands fa-square-github text-day fs-4"></i><span class="text-day d-none d-sm-inline">&nbsp;My Linkedin</span></a>

  <small class="text-day text-center">© {{ date | date: 'yyyy' }} Zoosedesign<span class="d-none d-sm-inline text-day"> All rights reserved.</span></small>

  <a href="https://github.com/Zoosedesign" target="_blank" class="text-decoration-none d-flex align-items-center"><i class="fa-brands fa-linkedin text-day fs-4"></i><span class="text-day d-none d-sm-inline">&nbsp;My Github</span></a>
</footer>
