<main class="bg-day" id="xeriscaping">

  <section class="position-relative">
    <app-before-after beforeImageUrl="/assets/img/before.jpg" afterImageUrl="/assets/img/after.jpg"></app-before-after>

    <article
      class="d-none d-sm-block position-absolute end-50 circle-wrap text-center company-border me-0 me-md-5 mt-3 bg-extra">
      <i></i> <!-- necessari alla classec circle wrap -->
      <h2 class="fs-1">Change the world</h2>
      <p class="d-none d-md-block fs-5 lh-sm">Choose strong plants for a sustainable home garden
      </p>
      <br>
      <a routerLink="/xeriscaping" fragment="header"
        class="d-md-none btn bg-200 text-extra rounded-pill border border-bottom-0 border-5 border-100 px-md-3 py-md-2 shadow">&#62;&nbsp;DISCOVER&nbsp;&#60;</a>
    </article>
  </section>

  <hr class="mt-5">

  <!------ AREE TEMATICHE ------>
  <!------ AREA OUR MISSION ------>
  <section class="d-flex flex-row flex-wrap px-4 px-lg-5 mt-5 pb-5 text-center text-md-start">
    <article class="col-12 col-md-6 p-0 pe-md-4 pe-lg-5">
      <h3 class="fs-1 m-0">Whats that? <i class="fa-solid fa-compass-drafting"></i></h3>
      <small class="fs-4">Philosophy and design.</small>
      <hr class="mb-4 mb-sm-5">
      <p>
        Xeriscaping conserves water and <b>creates lush, resilient gardens in drought-prone and adverse climates</b>. It
        employs strategies to minimize water usage while achieving beauty. Key principles include careful plant
        selection, <b>choosing drought-resistant species adapted to local conditions</b>. These plants thrive in arid
        environments without compromising aesthetics. <b>Design factors like soil quality, sun exposure, and water
          availability are considered</b> to create a sustainable and harmonious garden.
      </p>
    </article>

    <article class="col-12 col-md-6 mt-5 mt-md-0 p-0 ps-md-4 ps-lg-5 d-none d-md-block">
      <h3 class="fs-1 m-0">Techniques <i class="fa-solid fa-person-digging"></i></h3>
      <small class="fs-4">More plant, less water.</small>
      <hr class="mb-4 mb-sm-5">
      <p>
        Xeriscaping techniques include soil improvement through organic amendments, <b>enhancing water-holding capacity
          and
          root growth</b>. Mulching reduces evaporation, retains moisture, and suppresses weeds. Efficient drip
        irrigation
        targets plant roots, minimizing water loss. <b>Thoughtful maintenance, adjusting watering schedules and pruning,
          conserves water</b>. These practices create thriving gardens in challenging climates, conserving resources for
        a
        sustainable future.
      </p>
    </article>

    <div class="col-12 col-md-6 mt-5 pe-md-4 pe-lg-5">
      <figure
        class="d-flex justify-content-around mb-0 p-3 rounded-pill bg-200 shadow border border-bottom-0 border-100 border-5">
        <i class="fa-solid fa-street-view text-day fs-4"></i>
        <i class="fa-solid fa-hand-holding-hand text-day fs-4"></i>
        <i class="fa-solid fa-earth-americas text-day fs-4"></i>
        <i class="fa-solid fa-face-smile-beam text-day fs-4"></i>
      </figure>
    </div>

    <div class="col-12 col-md-6 mt-5 ps-md-4 ps-lg-5 d-none d-md-block">
      <figure
        class="d-flex justify-content-around mb-0 p-3 rounded-pill bg-200 shadow border border-bottom-0 border-100 border-5">
        <i class="fa-solid fa-layer-group text-day fs-4"></i>
        <i class="fa-solid fa-sun text-day fs-4"></i>
        <i class="fa-solid fa-arrow-up-from-ground-water text-day fs-4"></i>
        <i class="fa-solid fa-hand-holding-droplet text-day fs-4"></i>
      </figure>
    </div>

  </section><br>

  <figure id="garden" class="vh-75 cursor-zoom position-relative">
    <article id="our-plants-title" class="position-absolute text-center circle-wrap company-border bg-day shadow">
      <i></i> <!-- necessari alla classec circle wrap -->
      <h3 class="fs-1 text-300">resilient gardening!</h3>
      <p class="text-300 fs-5 m-0">Create stunning, efficient gardens that save your time. Choose the beauty and
        convenience of xeriscaping</p>
    </article>
  </figure>
</main>
