#xeriscaping #garden {
  background: url('/assets/img/after_top.jpg') center center;
  background-size: cover;
}

#xeriscaping .bg-garden {
  background: url('/assets/img/garden.png') top center;
  background-size: cover;
  height: 55vh;
}

#xeriscaping #garden .circle-wrap {
  --s: calc(350px);
  top: calc(37.5vh - 175px);
  left: calc(50% - 175px);
}

@media screen and (min-width: 500px) {
  #xeriscaping #garden .circle-wrap {
    --s: calc(450px);
    --p: 50px;
    top: calc(37.5vh - 225px);
    left: calc(50% - 225px);
  }
}

// circle wrap slider iniziale
@media screen and (min-width: 1301px) {
  #xeriscaping .circle-wrap {
    --s: calc(280px + 9vw);
    /*Size of the circle */
    --p: 40.5px;
    /* padding */
  }

  #xeriscaping .circle-wrap a {
    display: inline !important;
  }
}
