@import '/src/style/colors.scss';

#home .circle-wrap {
  --s: calc(225px + 9vw);  /*Size of the circle */
  --p: 15px;   /* padding */

  height: var(--s);
  width: var(--s);

  top: 10%;
}

#home .circle-wrap i,
#home .circle-wrap::before {
  content: '';
  float: left;
  height:100%;
  width: 50%;
  shape-outside: radial-gradient(farthest-side at right, transparent calc(100% - var(--p)), #fff 0);
}

#home .circle-wrap i {
  float: right;
  shape-outside: radial-gradient(farthest-side at left,  transparent calc(100% - var(--p)), #fff 0);
}

@media screen and (min-width: 1312px) {
  #home .circle-wrap a {
  display: inline !important;
  }
}
