<main id="home">

  <section class="position-relative">
    <app-before-after beforeImageUrl="/assets/img/desert.jpg" afterImageUrl="/assets/img/green.jpg"></app-before-after>

    <article
      class="d-none d-sm-block position-absolute end-50 circle-wrap text-center company-border me-0 me-md-5 mt-3">
      <i></i> <!-- necessari alla classec circle wrap -->
      <h2>Join Our Green Transition!</h2>
      <p class="d-none d-md-block mb-0 fs-5">Choose strong plants for a sustainable home garden.
      </p>
      <br>
      <a routerLink="/xeriscaping" fragment="header" class="d-md-none btn bg-300 text-extra rounded-pill border border-bottom-0 border-5 border-100 shadow">&#62;&nbsp;DISCOVER&nbsp;&#60;</a>
    </article>
  </section>


  <!------ AREE TEMATICHE ------>
  <section class="vh-100 bg-day pt-5" appScrollSection="mission">
    <app-our-mission></app-our-mission>
  </section>

  <section class="position-relative bg-middle">
    <span id="plant-anchor" appScrollSection="plants" class="position-absolute"></span>
    <app-our-plants></app-our-plants>
  </section>

  <section class="vh-100 bg-extra" appScrollSection="who">
    <app-who-we-are></app-who-we-are>
  </section>

</main>
