<main id="home" class="bg-day">

  <section class="position-relative">
    <app-before-after beforeImageUrl="/assets/img/desert.jpg" afterImageUrl="/assets/img/green.jpg"></app-before-after>

    <article
      class="d-none d-sm-block position-absolute end-50 circle-wrap text-center company-border me-0 me-md-5 mt-3 shadow">
      <i></i> <!-- necessari alla classec circle wrap -->
      <h2 class="fs-1">Change the world</h2>
      <p class="d-none d-md-block fs-5 lh-sm">Choose strong plants for a sustainable home garden
      </p>
      <br>
      <a routerLink="/xeriscaping" fragment="header"
        class="d-md-none btn bg-200 text-extra rounded-pill border border-bottom-0 border-5 border-100 px-md-3 py-md-2 shadow">&#62;&nbsp;DISCOVER&nbsp;&#60;</a>
    </article>
  </section>

  <hr class="mt-5" appScrollSection="mission">

  <!------ AREE TEMATICHE ------>
  <!------ AREA OUR MISSION ------>
  <section class="d-flex flex-row flex-wrap px-4 px-sm-5 mt-5 pb-5 text-center text-md-start">
    <article class="col-12 col-md-6 p-0 pe-md-4 pe-lg-5">
      <h3 class="fs-1 m-0">Our <span class="text-nowrap">Mission <i class="fa-solid fa-arrows-spin"></i></span></h3>
      <small class="fs-4">for the right purpose</small>
      <hr class="mb-4 mb-sm-5">
      <p class="text-justify">
        We believe that tossing <b>100 seeds into a field doesn't mean planting 100 trees</b>. And we think that heavily
        planting a single species isn't a sustainable and biodiversity-friendly choice. Trees bring benefits to you,
        your surroundings, and the entire planet. <b>We believe each of us should make an effort to cut down our CO2
          emissions</b>, and in doing so, we can also help absorb them by planting trees. We reckon we can make this
        planet greener, and we're determined to do it right. Plus, <b>we only plant drought-resistant plants</b>,
        reducing CO2 emissions while responsibly preserving water usage.
      </p>
    </article>

    <article class="col-12 col-md-6 mt-5 mt-md-0 p-0 ps-md-4 ps-lg-5 d-none d-md-block">
      <h3 class="fs-1 m-0">The right <span class="text-nowrap">tree <i class="fa-solid fa-earth-americas"></i></span></h3>
      <small class="fs-4">in the right place</small>
      <hr class="mb-4 mb-sm-5">
      <p class="text-justify">
        Planting trees to make them grow, with a long-term perspective.
        Planting trees is complex work. Not only from <b>a technical point of view skills and resources</b> are needed
        to create
        suitable places for small trees to germinate and grow but also, and above all, from a strategic point of view.
        <b>Planting trees is not enough, they must be supported in their growth</b>. This means thinking in the medium
        and long
        term, and for this you need to find the right tree for the right place and the right purpose. The projects we
        carry out for the planting of our trees respond exactly to these needs.
      </p>
    </article>

    <div class="col-12 col-md-6 mt-5 pe-md-4 pe-lg-5">
      <figure
        class="d-flex justify-content-around mb-0 p-3 rounded-pill bg-200 shadow border border-bottom-0 border-100 border-5">
        <i class="fa-solid fa-seedling text-day fs-4"></i>
        <i class="fa-solid fa-smog text-day fs-4"></i>
        <i class="fa-solid fa-temperature-arrow-down text-day fs-4"></i>
        <i class="fa-solid fa-sun-plant-wilt text-day fs-4"></i>
      </figure>
    </div>

    <div class="col-12 col-md-6 mt-5 ps-md-4 ps-lg-5 d-none d-md-block">
      <figure
        class="d-flex justify-content-around mb-0 p-3 rounded-pill bg-200 shadow border border-bottom-0 border-100 border-5">
        <i class="fa-solid fa-tree text-day fs-4"></i>
        <i class="fa-solid fa-person-digging text-day fs-4"></i>
        <i class="fa-solid fa-map-location-dot text-day fs-4"></i>
        <i class="fa-solid fa-hand-holding-droplet text-day fs-4"></i>
      </figure>
    </div>
  </section><br>

  <!------ AREA OUR PLANTS ------>
  <section class="position-relative pb-5 my-lg-5">
    <span id="plant-anchor" appScrollSection="plants" class="position-absolute"></span>
    <app-our-plants></app-our-plants>
  </section>

  <!------ AREA WHO WE ARE ------>
  <section class="position-relative" appScrollSection="who">
    <div class="mx-xl-5">
      <article class="p-4 p-sm-5 mx-4 mx-sm-5 bg-extra rounded-4 text-center text-sm-start">
        <div class="d-flex flex-row">
          <div class="mx-auto mx-sm-0">
            <h3 class="fs-1 m-0">Who we <span class="text-nowrap">are? <i class="fa-solid fa-street-view"></i></span></h3>
            <small class="fs-4">One Family, Many Faces</small>
          </div>
          <img src="/assets/img/future_forest_logo.svg" alt="future forest logo" class="ms-auto d-none d-lg-block" height="100px">
        </div>
        <hr class="mb-4 mb-sm-5 mt-lg-0">
        <p class="d-none d-sm-block pb-5 mb-5">
          We are the ones who love nature and strive to make a positive change in the places we call home, not just for
          ourselves but for others as well. We envision a world where the concrete jungles of today are transformed into
          vibrant, green spaces. <b>We understand the importance of bringing nature back into the urban landscape,
            revitalizing the areas where it has been stripped away</b>. However, we also recognize the need to tread
          carefully, ensuring that we don't squander other invaluable resources. Water, in particular, holds a special
          place in our
          hearts, for without it, life simply cannot exist. <b>Therefore, as we embark on this mission to restore
            nature's
            presence</b>, we do so with a keen awareness of the need to conserve and protect the precious resources that
          sustain us all. Together, let's create a future where lush greenery thrives amidst the gray, and where
          sustainability
          and reverence for our natural world go hand in hand.
        </p>
        <p class="d-block d-sm-none pb-5 mb-5">
          We are <b>nature lovers</b> who aim to improve our living spaces for ourselves and others. <b>Our mission is
            to bring
            back greenery to our cities</b>, while being mindful of conserving important resources like water. <b>We
            strive for a
            sustainable future where urban landscapes thrive with lush greenery</b>. Together, we can make a difference
          by
          nurturing our environment and creating a greener tomorrow.
        </p>
        <span class="d-block vh-50"></span>
      </article>
    </div>
    <figure class="position-absolute bottom-0 left-0 m-0 w-100 bg-landscape"></figure>
  </section>

</main>
