.circle-wrap {
  --s: 313px;  /*Size of the circle */
  --p: 15px;   /* padding */

  height: var(--s);
  width: var(--s);
}

.circle-wrap i,
.circle-wrap::before {
  content: '';
  float: left;
  height:100%;
  width: 50%;
  shape-outside: radial-gradient(farthest-side at right, transparent calc(100% - var(--p)), #fff 0);
}

.circle-wrap i {
  float: right;
  shape-outside: radial-gradient(farthest-side at left,  transparent calc(100% - var(--p)), #fff 0);
}
