#our-plants figure {
  height: calc(33.33vh + 1rem);
}

#our-plants .circle-wrap {
  --s: calc(320px);
  top: calc(50vh - 160px);
  left: calc(50% - 160px);
}

@media screen and (min-width: 576px) {
  #our-plants .circle-wrap {
    --s: calc(450px);
    --p: 50px;
    top: calc(50vh - 225px);
    left: calc(50% - 225px);
  }
}

@media screen and (min-width: 992px) {
  #our-plants .col-5,
  #our-plants .col-lg-5 {
    width: 20% !important;
  }
}
