<div class="d-flex flex-row">
  <!------ TITLE ------>
  <article id="our-plants-title" class="position-absolute text-center circle-wrap company-border bg-day shadow">
   <i></i>  <!-- necessari alla classec circle wrap -->
    <h3 class="fs-1 text-300">UNITE TOGETHER!</h3>
    <p class="text-300 fs-5 m-0">Drought-Defying Plants for a Greener, cheeper and better Future!</p>
    <br>
    <a routerLink="/plants/page/{{plantsPage}}" fragment="header"
        class="btn bg-200 text-day rounded-pill border border-bottom-0 border-5 border-100 px-md-3 py-md-2 shadow">&#62;&nbsp;DISCOVER&nbsp;&#60;</a>
  </article>

  <!------ IMAGE ------>
  <div class="col-4 col-sm-3 col-lg-2 mt-5 d-none d-sm-block">
    <figure class="m-0" *ngFor="let plant of plants; let i = index"
      [style.backgroundImage]="'url(' + plant.default_image.small_url + ')'"
      [ngClass]="{'d-none': i < 13 || i > 15, 'rounded-bottom-3 rounded-bs-0': i === 15 }">
    </figure>
  </div>

  <div class="col-4 col-sm-3 col-lg-2 mb-5">
    <figure class="m-0" *ngFor="let plant of plants; let i = index"
      [style.backgroundImage]="'url(' + plant.default_image.small_url + ')'"
      [ngClass]="{'d-none': i < 3 || i > 5, 'rounded-top-3': i === 3 }">
    </figure>
  </div>

  <div class="col-4 col-sm-3 col-lg-2 mt-5">
    <figure class="m-0" *ngFor="let plant of plants; let i = index"
      [style.backgroundImage]="'url(' + plant.default_image.small_url + ')'"
      [ngClass]="{'d-none': i < 7 || i > 9, 'rounded-bottom-3': i === 9 }">
    </figure>
  </div>

  <div class="col-4 col-sm-3 col-lg-2 mb-5">
    <figure class="m-0" *ngFor="let plant of plants; let i = index"
      [style.backgroundImage]="'url(' + plant.default_image.small_url + ')'"
      [ngClass]="{'d-none': i < 10 || i > 12, 'rounded-top-3': i === 10 }">
    </figure>
  </div>

  <div class="col-2 mt-5 d-none d-lg-block">
    <figure class="m-0" *ngFor="let plant of plants; let i = index"
      [style.backgroundImage]="'url(' + plant.default_image.small_url + ')'"
      [ngClass]="{'d-none': i >= 3, 'rounded-bottom-3': i === 2 }">
    </figure>
  </div>

  <div class="col-2 mb-5 d-none d-lg-block">
    <figure class="m-0" *ngFor="let plant of plants; let i = index"
      [style.backgroundImage]="'url(' + plant.default_image.small_url + ')'"
      [ngClass]="{'d-none': i < 21, 'rounded-top-3 rounded-te-0': i === 21 }">
    </figure>
  </div>

</div>
