@import './colors.scss';

// ----- STILI GENRALI -----
* {
  letter-spacing: 1px !important;
  color: $company-300 !important;
}

h1 {
  line-height: 0;
  margin: 0;
}

a {
  font-weight: 700 !important;
}

.cursor-zoom {
  cursor: zoom-in;
}

.collapsing {
  transition: 0.5s height;
}

// eliminare bordi al clic, form e imput
input:not([type="range"]):focus {
  box-shadow: none !important;
  border-color: $company-100 !important;
}

input:not([type="range"]):active {
  background-color: $company-day !important;
  outline: 0 !important;
}

.btn:active {
  border: 0 !important;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.dropdown-item:hover {
  background-color: $company-day !important;
}

.z-n2 {
  z-index: -2 !important;
}

.z-n3 {
  z-index: -3 !important;
}

// per dare l'hover ai bg dei colori company
.btn.bg-day:hover,
.btn.bg-100:hover,
.btn.bg-200:hover,
.btn.bg-300:hover,
.btn.bg-extra:hover,
.btn.bg-night:hover {
  filter: brightness(75%) !important;
}

// ----- BORDI -----
.border-day {
  border-color: $company-day !important;
}

.border-100 {
  border-color: $company-100 !important;
}

.border-200 {
  border-color: $company-200 !important;
}

.border-300 {
  border-color: $company-300 !important;
}

.border-extra {
  border-color: $company-extra !important;
}

.border-night {
  border-color: $company-night !important;
}

.rounded-bs-0 {
  border-bottom-left-radius: 0 !important;
}

.rounded-be-0 {
  border-bottom-right-radius: 0 !important;
}

.rounded-ts-0 {
  border-top-left-radius: 0 !important;
}

.rounded-te-0 {
  border-top-right-radius: 0 !important;
}

// ----- COLORI DI SFONDO -----
.bg-transparent {
  background: transparent;
}

.bg-day {
  background: $company-day !important;
}

.bg-100 {
  background: $company-100 !important;
}

.bg-200 {
  background: $company-200 !important;
}

.bg-300 {
  background: $company-300 !important;
}

.bg-extra {
  background: $company-extra !important;
}

.bg-night {
  background: $company-night !important;
}


// linea di sfondo centrale per titoli
.bg-line {
  background: linear-gradient(0deg, transparent calc(50% - 0.5px), $company-300-opacity calc(50% - 0.5px), $company-300-opacity calc(50% + 0.5px), transparent calc(50% + 0.5px));
}

// per creare texture
.bg-pattern {
  background: linear-gradient(45deg,
      $company-100 25%,
      $company-100 25%,
      $company-300 50%,
      $company-100 50%,
      $company-100 75%,
      $company-300 75%,
      $company-300);
  background-size: 50px 50px;
}

.bg-box {
  background: linear-gradient(180deg, transparent 120px, $company-day 120px);
}

.bg-box-extra {
  background: linear-gradient(180deg, transparent 120px, $company-extra 120px);
}

.bg-center {
  background: linear-gradient(180deg, transparent 120px, $company-extra 120px, $company-extra calc(100% - 120px), transparent calc(100% - 120px));
}

.bg-repeat {
  background: url('/assets/img/leaf.svg') top left repeat;
  background-size: 20px;
}

// ----- GESTIONE TESTO -----
.text-day {
  color: $company-day !important;
}

.active,
.active i,
.text-100 {
  color: $company-100 !important;
}

.text-200 {
  color: $company-200 !important;
}

.text-300 {
  color: $company-300 !important;
}

.text-extra {
  color: $company-extra !important;
}

.text-night {
  color: $company-night !important;
}

.text-justify {
  text-align: justify !important;
}

// testo grande con grandezza minima (20vw) e massima (10rem)
.fs-0 {
  font-size: min(20vw, 10rem);
}

// per gestire righe massime testo (...)
.truncate-one {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.truncate-three {
  @extend .truncate-one;
  -webkit-line-clamp: 3;
}

.truncate-six {
  @extend .truncate-one;
  -webkit-line-clamp: 6;
}

@media screen and (max-width: 576px) {
  h5.truncate-one {
    -webkit-line-clamp: 2;
  }
}

// ----- GESTIONE IMMAGINE -----
// per rendere uguali dimensioni immagini card
.fit-square {
  aspect-ratio: 1/1;
  object-fit: fit;
}

.fit-v {
  aspect-ratio: 1/1.5;
  object-fit: fit;
}

.fit-h {
  aspect-ratio: 1.5/1;
  object-fit: fit;
}
