@import 'src/style/colors.scss';

#before {
  position: relative;
  background-size: 100vw min(80vh, 90vw);
  width: 100vw;
  height: min(80vh, 90vw);
}

#after {
  background-size: 100vw min(80vh, 90vw);
  width: 70vw;
  border-right: 5px solid $company-extra;
  height: min(80vh, 90vw);
}

#range {
  position: absolute;
  bottom: -40px;
  width: 100vw;
}

// ----- INPUT DESIGN -----
//type range
input[type=range] {
  appearance: none;
  height: 25px;
  background: transparent;
}

//track style
input[type=range]::-webkit-slider-runnable-track {
  height: 5px;
  cursor: pointer;
  background: transparent;
}

input[type=range]::-moz-range-track {
  height: 5px;
  cursor: pointer;
  background: transparent;
}

//cursor style
input[type=range]::-webkit-slider-thumb {
  appearance: none;
  height: 50px;
  width: 200px;
  border: 0;
  background: url("/assets/img/before_after_arrow.svg") no-repeat bottom center;
  cursor: ew-resize;
}

input[type=range]::-moz-range-thumb {
  height: 50px;
  width: 200px;
  border: 0;
  background: url("/assets/img/before_after_arrow.svg") no-repeat center center;
  cursor: ew-resize;
}


