@import "/src/style/colors.scss";

#details #product {
  background-size: cover;
  min-height: 300px;
}

#details figure {
  bottom: -27.5px;
  left: calc(12.5% - 5px);
}

#details iframe {
  height: 39.5vw;
}

@media screen and (min-width: 1200px) {
  #details {
    background: transparent;
  }

  #details #features * {
    color: $company-day !important;
  }

  #details #features {
    background: $company-300;
  }

  #details iframe {
    height: 19.5vw;
  }

  #details #cards {
    margin-top: -80px;
  }
}
