@import "/src/style/colors.scss";

#details #product {
  background-size: cover;
  min-height: 300px;
}

#details figure {
  bottom: -27.5px;
  left: calc(12.5% - 5px);
}

#details iframe {
  height: 39.5vw;
}

@media screen and (min-width: 1200px) {
  #details {
    background: transparent;
  }

  #details #product {
    margin-top: 3.4rem;
  }

  #details iframe {
    height: 19.5vw;
  }

  #details #cards {
    margin-top: -80px;
  }

  #details section:nth-of-type(1) span:nth-of-type(1) {
    top: 48px;
    left: calc(50% - 3rem);
    width: 6rem;
    height: 500px;
  }

  #details span:nth-of-type(1) {
    left: calc(50% - 3rem);
    width: 6rem;
    height: 300px;
  }

  #details span:nth-of-type(2) {
    top: -2.5rem;
    left: 3rem;
    width: calc(50% - 3rem);
    height: 3rem;
  }

  #details span:nth-of-type(3) {
    top: -1rem;
    left: 3rem;
    width: calc(50% - 3rem);
    height: 3rem;
  }
}
